@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Self Registration</h1>
    <p>Register your visit. To start the registration process, click on the button below</p>

    <a href='@Url.Action("Capture", "Home")' class="glyphicon glyphicon-user">Click Me</a>

</div>
